* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.active {
    color: orange;
}

.productContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 25px;
}

h3 {
    font-size: 1rem;
}

.productCard {
    width: 200px;
    height: 300px;
    background-color: rgb(254, 246, 231);
    border-radius: 5px;
    padding: 20px;
}

.cardImg {
    height: 70%;
    overflow: hidden;
    margin-bottom: 10px;
}

img {
    width: 100%;
}